/* --- marty-userinput   ---------------------------- */
 
.marty-userinput, .marty-userinput:focus {
	background-position: 5px 50%; 
	background-image: url('./usergroup.png') !important;
    background-repeat: no-repeat;
	padding-left: 25px;
} 



.marty-userinput-resultlist {
	display: none;
	width: 98%;
	margin-top: -2px;
	position: absolute;
	z-index: 1;
	border: 1px solid #145267;
	border-top:none;
	background: #fff;
	padding: 0;
	box-shadow: 3px 3px 4px #EEE;
}


.marty-userinput-resultlist-element {
  padding: 4px 5px;
  cursor: pointer;
  background-color: #FFF;
  border-top: 1px solid #d4d4d4; 
}



.marty-userinput-resultlist-element:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.marty-userinput-resultlist-element:hover a {
	color: #2a8aad;
}

.marty-userinput-resultlist-element a {
	color: #777;
	font-weight: bold;
}	
.marty-userinput-resultlist-element a:hover {	
	text-decoration: none;
}

.marty-userinput-resultlist-element.active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #2a8aad;
}
.marty-userinput-resultlist-element.active a {
  color: #ffffff;
}


.marty-usergrouptable td {
	border-bottom: 1px solid #ccc;
}

.marty-usergrouptable td .typcn {
	color: #999;
}
