/* Start Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
}

body {
	line-height: 1.333;
	min-width: 980px;
}

/* End Reset 
dl, dt, dd, ol, ul, li,
*/ /**********************************************
 * Basis Einstellungen 
 **********************************************/
html,body,div,p,h1,h2,h3,ul,ol,span,a,table,td,form,img,li {
	font-family: Arial, Verdana, sans-serif;
	/* Verdana, Helvetica, Geneva, sans-serif; */
}

body {
	color: black;
	background-color: white;
	font-size: 100.01%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin: 0;
	padding: 1em;
	min-width: 41em;
	font-style: normal;
	/* Mindestbreite verhindert Umbruch und Anzeigefehler in modernen Browsern */
}

* html div#content {
	height: 1em;
	/* Workaround gegen den 3-Pixel-Bug des Internet Explorer bis Version 6 */
}

p {
	font-size: 13px;
	margin-bottom: 0.5em;
	line-height: 1.4em;
}

h1 {
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 8px;
}

h3 {
	font-size: 14px;
	font-weight: bold;
}

dl {
	margin: 0em;
	padding: 0em;
}

dd {
	margin: 0em 0em 1em 0em;
	padding: 0em;
}

dt {
	font-weight: bold;
	font-size: 12px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input[type="text"],input[type="password"],textarea {
	width: 20em;
	xborder-color: silver;
}

input.rich-combobox-button,input.rich-combobox-button-inactive,input.rich-combobox-button-disabled
	{
	width: 17px;
}

input.rich-calendar-input {
	width: 80px;
}

input.rich-calendar-spinner-input {
	width: 18px;
}

.rich-separator {
	height: 1px;
}

/**********************************************
 * SYWAPP Styles 
 **********************************************/
#sywapp-servicenav {
	clear: both;
	margin: 0em 0em 0.5em 0em;
	padding: 0.4em 0 0.4em 0;
	text-align: right;
	border: 0px;
	font-size: 11px;
}

#sywapp-topnav {
	clear: both;
	margin: 0em;
	padding: 0em;
	border: 0px dashed silver;
}

#sywapp-servicenav ul,#sywapp-topnav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#sywapp-servicenav li {
	list-style: none;
	display: inline;
	margin: 0em 0em 0em 2em;
	padding: 0px;
}

#sywapp-topnav li {
	list-style: none;
	display: inline;
	margin: 0em 2em 0em 0em;
	padding: 0px;
}

#sywapp-servicenav a,#sywapp-topnav a {
	font-size: 11px;
}

#sywapp-branding {
	background-image: url("/shareyourwork/layout/img/logo.png");
	width: 100%;
	height: 44px;
	background-repeat: no-repeat;
}

.sywapp-menubar {
	
}

/*
 * #########
 * Sidebar
 * #########
 */
#sywapp-sidebar {
	float: right;
	width: 12em;
	margin: 1em 0em 0em 0em;
	padding: 0em;
	border: 0px dashed silver;
}

#sywapp-sidebar ul {
	list-style: square;
	display: block;
	margin: 0em 0em 0em 10px;
	padding: 0px;
	font-size: 11px;
}

#sywapp-sidebar a {
	font-size: 11px;
}

#sywapp-sidebar p {
	font-size: 11px;
	margin: 16px 0;
}

#sywapp-sidebar .rich-panel {
	padding: 0em;
	padding: 10px 10px;
}

#sywapp-sidebar .sywapp-commandbox {
	font-size: 12px;
}

#sywapp-sidebar .sywapp-newsentry {
	margin: 0px 0 10px 0;
	padding: 0px;
	font-size: 11px;
	list-style: none;
}

#sywapp-content {
	min-height: 400px;
	margin: 1em 13.5em 0em 1em;
	padding: 0em;
	background: transparent;
}

#sywapp-footer {
	clear: both;
	color: #999;
	margin: 1em 15em 0em 0em;
	padding: 0em 0em;
	text-align: right;
	border: 0px dashed silver;
	border-top: 1px solid silver;
}

#sywapp-footer ul {
	list-style-type: none;
	margin: 0px;
	font-size: 11px;
	/* 0.6em */
}

#sywapp-footer li {
	list-style: none;
	display: inline;
	margin: 0em 0em 0em 1.5em;
}

/* ==== Form ======= */
.sywapp-form .sywapp-viewentry,.sywapp-view-header .sywapp-viewentry {
	margin: 0;
}

.sywapp-form .sywapp-viewentry:HOVER {
	background: transparent;
}

.sywapp-form-header,.sywapp-view-header {
	margin-bottom: 20px;
}

.sywapp-form-header {
	background: #BED6F8;
	padding: 5px;
}

.sywapp-form-header a {
	font-size: 11px;
}

.sywapp-form-body,.sywapp-view-body {
	margin-bottom: 20px;
}

.sywapp-form-body {
	
}

/* Standard Rahmen im Formular abschalten */
.sywapp-workitem-body {
	
}

.sywapp-form-footer {
	
}

.sywapp-form-footer,.sywapp-view-footer {
	margin-bottom: 20px;
}

.sywapp-info-box {
	background: #FFF;
	border: 1px solid silver;
	padding: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
}

/* 
 * Die Klasse viewentry wird für die Darstellung von Views verwendet.
 * die Klasse wird als RowClass im element rich:dataList  verwendet
 * font-size: 0.8em
 */
.sywapp-viewentry {
	font-size: 12px;
	list-style: none;
	color: #666;
	margin: 5px 0 15px 0;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid silver;
}

/*
 * Überschriften innerhalb eines ViewEntries
 */
.sywapp-viewentry-header {
	font-size: 14px;
	font-weight: bold;
}

.sywapp-viewentry  a {
	font-size: 14px;
	/* 1.2em */
}

.sywapp-viewentry-details {
	margin: 0 36px;
	padding: 0em 0em 0em 0em;
	background-color: transparent;
	xborder-top: 1px solid silver;
}

.sywapp-viewentry-details h2,h3,h4 {
	font-size: 12px;
	/* 1em */
}

.sywapp-viewentry-details li {
	list-style: square;
	text-transform: uppercase;
	font-size: 11px;
	margin: 0em 0.7em 0em 0em;
	padding: 0px;
}

.sywapp-viewentry-details a {
	font-size: 11px;
}

.sywapp-viewentry-nav {
	margin: 0 0 0 0;
	padding: 4px 0 4px 0;
	font-size: 11px;
	border-top: 1px solid silver;
}

.sywapp-viewentry-nav li {
	display: inline;
	list-style: none;
	text-transform: uppercase;
	font-size: 11px;
	margin: 0em 0.7em 0em 0em;
	padding: 0px;
}

.sywapp-viewentry-nav a {
	font-size: 11px;
}

.sywapp-html {
	margin: 20;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	background: transparent;
}

.sywapp-html li {
	text-transform: none;
	font-size: 100%;
}

.sywapp-html a,.sywapp-html a:VISITED {
	text-decoration: none;
	color: blue;
	background: transparent;
	font-size: 100%;
}

.sywapp-html a:HOVER,.sywapp-html a:ACTIVE {
	text-decoration: underline;
	color: blue;
	background: transparent;
	font-size: 100%;
}

.sywapp-process {
	padding: 10px 10px 10px 10px;;
	margin-right: 20px;
	margin-bottom: 10px;
	float: left;
	width: 200px;
}

.sywapp-members {
	padding: 10px 10px 10px 10px;;
	margin-right: 20px;
	margin-bottom: 10px;
	float: left;
	width: 140px;
}

.sywapp-members ul {
	list-style: none;
	margin: 0em 0em 0em 10px;
	padding: 0px;
}

.sywapp-view-portlet {
	padding: 10px 10px;
	margin-bottom: 20px;
}

/*
 * ############
 * RichFaces 
 * ############
 */
.rich-message-label {
	color: red;
}

.rich-toolbar-item {
	margin: 0em;
	padding: 0em 0.5em 0em 0.5em;
}

.rich-panel {
	margin-bottom: 11px;
	background: transparent;
}

.rich-panel-body {
	color: #666;
}

.rich-stglpanel {
	margin-bottom: 11px;
}

.rich-datalist {
	padding: 0px;
	margin: 0px;
}


.rich-table {
	border: 1px;
	empty-cells: show;
	width: 100%;
}


.rich-table-cell {
	border: 1px solid silver;
	border-bottom: 1px solid silver;
	padding: 8px;
}

.rich-table-subheadercell {
	border: 1px;
	text-align: left;
}


/*
 *Tree Node 
 */
.rich-tree-node-highlighted,.rich-tree-node-selected {
	color: #000;
	text-decoration: underline;
}

/*
 * Helper Class für rowClasses Style in PanelGrids
 */
.vertTop {
	vertical-align: top;
}