html,body {
	margin: 0;
	padding: 0
}

body {
	font: 76% arial, sans-serif;
	text-align: center;
}

p {
	margin: 0 10px 10px
}

a {
	
}

#imixs-header {
	margin: 10px 0 15px 0;
}

#imixs-container {
	text-align: left
}

#imixs-content p {
	line-height: 1.4
}

#imixs-navigation {
	
}

#imixs-extra {
	background: #FF8539
}

#imixs-footer {
	background: #333;
	color: #FFF;
	text-align: right;
}

#imixs-footer ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#imixs-footer li {
	list-style: none;
	display: inline;
	margin: 0em 0em 0em 2em;
	padding: 0px;
}

#imixs-footer p {
	margin: 0;
	padding: 5px 10px
}

#imixs-container {
	width: 980px;
	margin: 0 auto
}

#imixs-content {
	float: left;
	width: 760px
}

#imixs-navigation {
	float: right;
	width: 200px
}

#imixs-extra {
	clear: both;
	width: 100%
}

#imixs-servicenav {
	margin: 0em 0em 0.5em 0em;
	padding: 0.4em 0 0.4em 0;
	text-align: right;
	border: 0px;
	font-size: 11px;
}

#imixs-topnav {
	margin: 0em;
	padding: 0em;
}

#imixs-servicenav ul,#imixs-topnav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#imixs-servicenav li {
	list-style: none;
	display: inline;
	margin: 0em 0em 0em 2em;
	padding: 0px;
}

#imixs-topnav li {
	list-style: none;
	display: inline;
	margin: 0em 2em 0em 0em;
	padding: 0px;
}

#imixs-servicenav a,#imixs-topnav a {
	font-size: 11px;
}

#imixs-branding {
	height: 100px;
	background-color: #EEE;
}